DIH_PORTAL_NAME=1.2.3.4
PORTAL_WEB_PORT=80
PORTAL_AJP_PORT=19009
GOOGLE_ANALYTICS_KEY=<your_google_key_for_portal_analytics>

DIH_IDM_NAME=1.2.3.4:19000
IDM_WEB_PORT=19000

DIH_MKPL_NAME=1.2.3.4:19001
MKPL_WEB_PORT=19001
MKPL_ADMIN_EMAIL=<your_mail_addr>
MKPL_EMAIL_USER=<your_mail_user>
MKPL_EMAIL_PASSWD=<your_mail_passwd>
MKPL_EMAIL_SERVER_ADDR=<your_smtp_server_addr>
MKPL_EMAIL_SERVER_PORT=<your_smtp_servr_port>
